
.contactMe {
  height: auto; 
  width: 100%;
  display: grid;
  place-items: center;
  padding: 20px;
}


.contactTitle {
  color: black;
  text-shadow: 0 0 2px white, 0 0 5px #fff,
    0 0 9px white, 0 0 13px #0fa, 0 0 17px #0fa,
    0 0 20px #0fa, 0 0 23px #00ccff, 0 0 27px #00ccff;
  font-family: 'Times New Roman', Times, Baskerville, Georgia, serif;
  font-size: 2.5rem; 
  text-align: center;
  margin: 20px 0; 
}


.contactForm {
  width: 90%; 
  max-width: 800px; 
  box-shadow: 0 0 5px #00ccff, 0 0 15px #00ccff, 0 0 20px #00ccff;
  border-radius: 2em;
  background-image: url('./assets/contactMeForm.jpeg');
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  align-items: center;
  padding: 20px; 
}


.contactForm2 {
  position: relative;
  width: 100%; 
  max-width: 600px; 
  display: grid;
  place-items: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
  opacity: 0.7;
  padding: 20px; 
  border: 2px solid black;
  border-radius: 1em;
}