

.carousel-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 0 5px #00ccff, 0 0 15px #00ccff, 0 0 20px #00ccff;
  border-radius: 2em;
  padding: 0 10px; 
}


.carousel-content {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}


.carousel-item {
  margin: 0 5px;
  text-align: center;
  color: #00CCFF;
  margin-right: 30px;
}







