.whole {
   /* border: 1px solid red; */
   height: 90vh;
   width: 100%;
   display: flex;
}


.right-s {
    /* border: 1px solid green; */
    height: 90vh;
    width: 50%;
}

.left-s {
    /* border: 1px solid yellow; */
    height: 90vh;
    width: 50%;
    display: grid;
    place-items: center;
}

canvas {
    /* width: 100vh !important; */
    height: 100vh !important;
}

@media only screen and (max-width: 600px) {
    .right-s {
       display: none; /* Hidden on screens smaller than 600px */
     }
   }

   @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

.Fh1, .Sh1, .Th1 {

    color: aqua;
    font-size: 40px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideInFromLeft {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes scaleUp {
    from { transform: scale(0); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
  }
  
  .Fh1,.Sh1,.Th1 {
    
    opacity: 0; /* Start invisible */
  }
  
  .Fh1 {
    margin-top: 100px;
    animation: fadeIn 1s ease-out forwards;
    
  }
  
  .Sh1 {
    animation: slideInFromLeft 1s ease-out forwards;
    animation-delay: 1s; /* Start after Fh1 */
  }
  
  .Th1 {
    animation: scaleUp 1s ease-out forwards;
    animation-delay: 2s; /* Start after Sh1 */
    margin-bottom: 100px;
  }
  