.swiper {
    margin-top: 20px;
    width: 90%;
    height: 100vh;
    /* border: 1px solid aqua; */
    box-shadow: 0 0 10px aqua,
                 0 0 20px aqua,
                 0 0 30px aqua;
                 border-radius: 2em;
margin-left: 45px;


   
}


.projects {
    font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
    display: grid;
    place-items: center; 
    font-size: 50px;
    color: black;
    text-shadow:
      0 0 2px white, /* Closest white glow */
      0 0 5px #fff,
      0 0 9px white,
      0 0 13px #0fa, /* Start of the green glow */
      0 0 17px #0fa,
      0 0 20px #0fa,
      0 0 23px #00CCFF,
      0 0 27px #00CCFF; /* Furthest green glow */
}

.slider {
    margin: 30px;
    margin-left: 90px;
    display: flex;
    place-items: center; 
    height: 80%;
    width: 80%;
    border: 1px solid red;
    
}