
.skills {
  height: auto; 
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.skills-pre {
  color: black;
  text-shadow: 0 0 2px white, 0 0 5px #fff,
    0 0 9px white, 0 0 13px #0fa, 0 0 17px #0fa,
    0 0 20px #0fa, 0 0 23px #00ccff, 0 0 27px #00ccff;
  height: auto; 
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 5px;
  font-size: 2rem; 
}


.slider-infinite {
  width: 100%;
  height: auto; 
  margin-top: 5px;
}
