


body {
  background: #111;
}

.arrowbtn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #111;
  border: 2px solid #00CCFF;
  border-radius: 100px;
  color: #00CCFF;
  cursor: pointer;
  top: 50%;
  line-height: 40px;
  margin-left: -20px;
  transition: all 0.25s ease-in-out;
  &:hover {
    background: #00CCFF;
    border-color: #111;
    color: #111;
  }
  &:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
  }
}



.arrowbtn-right {
  right: 20px;
  &:after {
    margin-left: -5px;
    margin-top: -5px;
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotateZ(90deg);
  }
}

.arrowbtn-left {
  left: 20px;
  &:after {
    margin-left: -5;
    margin-top: -5;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotateZ(-90deg);
  }
}