.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px; 
  /* border: 2px solid red; */
  border-radius: 10px;
  /* background-color: #f0f0f0;  */
}

.project-content {
  margin-top: 20px;
  text-align: center;
  width: 85%;
  height: 75vh;
  margin-left: 95px;
  
  /* padding: 20px; */
  /* border: 2px solid green; */
  box-shadow: 0 0 5px #00CCFF,
                 0 0 15px  #00CCFF,
                 0 0 25px #00ffff;
                 border-radius: 2em;
}

.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #111;
  border: 2px solid #00CCFF;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #00CCFF;
  transition: all 0.25s ease-in-out;
  &:hover {
    background: #00CCFF;
    border-color: #111;
    color: #111;
  }
}
.arrow-btn-right {
  right: 30px;
}

.arrow-btn-left {
  left: 30px;
} 

.slick-dots {
  bottom: 10px; 
}

.slick-dots li button:before {
  color: #00CCFF; 
}

.slick-dots li.slick-active button:before {
  color: #00CCFF; 
}

body {
  background: #111;
}
