.topBar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  /* border: 1px solid #15f4ee; */
}

.links {
  display: block;
  /* border: 1px solid red; */
  width: 20%;
  height: 45px;
  display: flex;
  justify-content: flex-end; 
  align-items:flex-center; 
  
  
}

.threeDots {
  /* border: 1px solid red; */
  width: 4%;
  height: 45px;
  display: flex;
  justify-content: flex-center;

}

.git {
  font-size: 180%;
  color: aqua;
 
  
}

.linkedin {
  float: right;
  margin-left: 10px;
 

}

.threeDots {
  color: aqua;
  font-size: 180%;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .links {
     display: none; /* Hidden on screens smaller than 600px */
   }
 }