.topBar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 55px;
  /* border: 1px solid #15f4ee; */
}

.links {
  display: block;
  /* border: 1px solid red; */
  width: 20%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-center;
}


.git {
  margin-top: 7px;
  font-size: 160%;
  color: #00ccff;
  /* box-shadow: 0 0 20px #00CCFF; */
  border-radius: 4em;
}

.git:hover {
  box-shadow: 0 0 5px #00ccff, 0 0 10px #00ccff, 0 0 20px #00ccff,
    0 0 30px #00ccff;
  transform: scale(1.1);
  .sizeclasse {
    transform: scale(1.2);
  }
}

.linkedin:hover {
  box-shadow: 0 0 5px #00ccff, 0 0 10px #00ccff, 0 0 20px #00ccff,
    0 0 30px #00ccff;
  .sizeclasse {
    transform: scale(1.2);
  }
}

.threeDots:hover {
  color: white;
  border-radius: 25%;
  .sizeclasse {
    transform: scale(1.2);
  }
}

.linkedin {
  margin-top: 7px;
  font-size: 160%;
  margin-inline: 30px;
  /* border: 1px solid #11e93f ; */
  color: #00ccff;
  border-radius: 50%;
}

.threeDots {
  /* border: 2px solid yellow; */
  margin-top: 7px;
  color: #00ccff;
  font-size: 160%;
}
